* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
body {
  background-image: url("img/image\ 1.png");
  background-size: cover;
}
Nav {
  margin: 1% 10%;
  font-size: 1.5rem;
  height: 75px;
  width: 80%;
  color: white;
  background-color: rgba(83, 73, 73, 0.2);
  border-radius: 15px;
  display: flex;
  align-items: center;
  /* Text Porfolio */
  /* About project contact */
}
Nav :nth-child(1) {
  padding-left: 25px;
}
Nav .APC {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 25px;
  padding-right: 25px;
}
Nav a {
  text-decoration: none;
  color: inherit;
}
Nav a:hover {
  color: inherit;
  background: -webkit-linear-gradient(#F9815B, #FFA571);
}
#burgerContainer {
  visibility: hidden;
}
@media screen and (max-width: 768px) {
  Nav {
    margin: 1% 10%;
    font-size: 1.5rem;
    height: 75px;
    width: 80%;
    color: white;
    background-color: rgba(83, 73, 73, 0.2);
    border-radius: 15px;
    display: none;
    align-items: center;
  }
  #burgerContainer {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    visibility: visible;
    margin-top: 3%;
    margin-right: 10%;
    /* Rotate first bar */
    /* Fade out the second bar */
    /* Rotate last bar */
  }
  #burgerContainer .flex-container {
    align-self: flex-end;
    z-index: 100;
  }
  #burgerContainer .container {
    cursor: pointer;
    z-index: 5;
  }
  #burgerContainer .bar1,
  #burgerContainer .bar2,
  #burgerContainer .bar3 {
    width: 35px;
    height: 5px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.4s;
    color: whitesmoke;
  }
  #burgerContainer .change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
  }
  #burgerContainer .change .bar2 {
    opacity: 0;
  }
  #burgerContainer .change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
  }
  #burgerContainer #menu {
    visibility: hidden;
    background-color: #212121;
    width: 40vw;
    height: 2930px;
    position: relative;
    bottom: 50px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    z-index: 99;
  }
  #burgerContainer #menu a {
    font-size: 3rem;
    position: relative;
    top: 100px;
    background: -webkit-linear-gradient(#F9815B, #FFA571);
    text-decoration: none;
    /* Supprimer le soulignement par défaut */
    color: white;
    /* Utiliser la couleur de texte par défaut */
    cursor: pointer;
    /* Afficher le curseur comme un pointeur */
  }
  #burgerContainer #menu a:hover {
    color: #262626;
  }
  #burgerContainer #menu.show {
    visibility: visible;
  }
  #burgerContainer .flex-container2 {
    display: flex;
    justify-content: flex-end;
    height: 0px;
  }
}
