* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
body {
  background-image: url("img/image\ 1.png");
  background-size: cover;
  color: aliceblue;
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
}
Nav {
  margin: 1% 10%;
  font-size: 1.5rem;
  height: 75px;
  width: 80%;
  color: white;
  background-color: rgba(83, 73, 73, 0.2);
  border-radius: 15px;
  display: flex;
  align-items: center;
  /* About project contact */
}
Nav .APC {
  width: 100%;
  display: flex;
  justify-content: end;
}
Nav a {
  text-decoration: none;
  color: inherit;
  justify-content: flex-start;
  margin-left: 25px;
  margin-right: 25px;
}
Nav a:hover {
  color: inherit;
  background: -webkit-linear-gradient(#F9815B, #FFA571);
}
#burgerContainer {
  visibility: hidden;
  display: none;
}
h1 {
  text-align: center;
  background: linear-gradient(to right, #F9815B, #FFA571);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 5rem;
  padding-top: 3%;
  padding-bottom: 4%;
  font-style: italic;
}
.sectionProjet {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 100px;
  height: 700px;
  padding-bottom: 50px;
}
.sectionProjet .containerProjet1 {
  width: 30vw;
  min-width: 425px;
  height: 55vh;
  padding-bottom: 50px;
  border-radius: 15px;
  box-shadow: 20px 20px 8px rgba(255, 255, 255, 0.904);
  transform: perspective(1200px) rotateY(-10deg);
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  flex-direction: column;
  background: linear-gradient(to right, #F9815B, #FFA571);
  border-radius: 10px;
  position: relative;
  /* Ajout pour le positionnement absolu */
}
.sectionProjet .containerProjet1 img {
  padding-bottom: 3%;
  border-radius: 10px;
  min-width: 425px;
}
.sectionProjet .containerProjet1 h2 {
  text-align: center;
  margin-bottom: 0px;
}
.sectionProjet .containerProjet1 h3 {
  text-align: center;
  font-size: 1rem;
  font-style: italic;
  font-weight: 400;
}
.sectionProjet .containerProjet1 p {
  font-size: 1.4rem;
  text-align: center;
  padding: 1.5vh 2% 0px 2%;
}
.sectionProjet .containerProjet1 p:nth-of-type(2) {
  font-size: 0.8rem;
}
.sectionProjet .containerProjet1:hover::after {
  width: 30vw;
  min-width: 425px;
  height: 55vh;
  display: flex;
  justify-content: center;
  align-items: center;
  content: "HTML-CSS-JAVASCRIPT";
  background-color: rgba(0, 0, 0, 0.9) !important;
  color: white !important;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  z-index: 100 !important;
}
.sectionProjet .containerProjet2 {
  width: 30vw;
  min-width: 425px;
  /* Largeur minimale */
  height: 55vh;
  background: linear-gradient(to right, #F9815B, #FFA571);
  border-radius: 10px;
  box-shadow: 20px 20px 8px rgba(255, 255, 255, 0.904);
  /* ombre portée */
  transform: perspective(1200px) rotateY(-10deg);
  /* effet de perspective */
  margin-left: 5%;
  margin-right: 5%;
}
.sectionProjet .containerProjet2 img {
  width: 30vw;
  padding-bottom: 3%;
  border-radius: 10px;
  min-width: 425px;
  /* Largeur minimale */
}
.sectionProjet .containerProjet2 h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 0px;
}
.sectionProjet .containerProjet2 h3 {
  text-align: center;
  font-size: 1rem;
  font-style: italic;
  font-weight: 400;
}
.sectionProjet .containerProjet2 p {
  font-size: 1.4rem;
  text-align: center;
  padding: 1vh 2% 0px 2%;
}
.containerProjet2:hover::after {
  width: 30vw;
  min-width: 425px;
  /* Largeur minimale */
  height: 55vh;
  padding: 0px 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  content: "HTML-CSS-JAVASCRIPT";
  background-color: rgba(0, 0, 0, 0.9) !important;
  color: white !important;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  z-index: 100 !important;
}
@media screen and (max-width: 1024px) {
  .sectionProjet {
    height: 150vh;
  }
}
@media screen and (max-width: 768px) {
  Nav {
    margin: 1% 10%;
    font-size: 1.5rem;
    height: 75px;
    width: 80%;
    color: white;
    background-color: rgba(83, 73, 73, 0.2);
    border-radius: 15px;
    display: none;
    align-items: center;
  }
  #burgerContainer {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    visibility: visible;
    margin-top: 0%;
    margin-right: 0%;
    /* Rotate first bar */
    /* Fade out the second bar */
    /* Rotate last bar */
  }
  #burgerContainer .flex-container {
    padding-top: 10px;
    align-self: flex-end;
    z-index: 100;
  }
  #burgerContainer .container {
    cursor: pointer;
    z-index: 5;
  }
  #burgerContainer .bar1,
  #burgerContainer .bar2,
  #burgerContainer .bar3 {
    width: 35px;
    height: 5px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.4s;
    color: whitesmoke;
  }
  #burgerContainer .change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
  }
  #burgerContainer .change .bar2 {
    opacity: 0;
  }
  #burgerContainer .change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
  }
  #burgerContainer #menu {
    visibility: hidden;
    background-color: #212121;
    width: 40vw;
    height: 2930px;
    position: relative;
    bottom: 50px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    z-index: 99;
  }
  #burgerContainer #menu a {
    font-size: 3rem;
    position: relative;
    top: 100px;
    background: -webkit-linear-gradient(#F9815B, #FFA571);
    text-decoration: none;
    /* Supprimer le soulignement par défaut */
    color: white;
    /* Utiliser la couleur de texte par défaut */
    cursor: pointer;
    /* Afficher le curseur comme un pointeur */
  }
  #burgerContainer #menu a:hover {
    color: #262626;
  }
  #burgerContainer #menu.show {
    visibility: visible;
  }
  #burgerContainer .flex-container2 {
    display: flex;
    justify-content: flex-end;
    height: 0px;
  }
  body {
    color: aliceblue;
    display: flex;
    background-size: auto;
    flex-direction: column;
    background-repeat: no-repeat;
  }
  h1 {
    padding-bottom: 10%;
  }
  .sectionProjet {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    height: 150vh;
    row-gap: 100px;
  }
  .sectionProjet .containerProjet1 {
    min-width: 325px;
  }
  .sectionProjet .containerProjet1 img {
    min-width: 325px;
  }
  .sectionProjet .containerProjet1 p {
    font-size: 1.5rem;
    padding-top: 1vh;
  }
  .sectionProjet .containerProjet2 {
    min-width: 325px;
  }
  .sectionProjet .containerProjet2 img {
    min-width: 325px;
  }
  .sectionProjet .containerProjet2 p {
    font-size: 1.5rem;
    padding-top: 1.5vh;
  }
}
@media screen and (max-width: 425px) {
  h1 {
    font-size: 4rem;
  }
  #burgerContainer {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    visibility: visible;
    margin-top: 3%;
    /* Rotate first bar */
    /* Fade out the second bar */
    /* Rotate last bar */
  }
  #burgerContainer .flex-container {
    align-self: flex-end;
    z-index: 100;
    position: fixed;
    top: 20px;
  }
  #burgerContainer .container {
    cursor: pointer;
    z-index: 5;
  }
  #burgerContainer .bar1,
  #burgerContainer .bar2,
  #burgerContainer .bar3 {
    width: 35px;
    height: 5px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.4s;
    color: whitesmoke;
  }
  #burgerContainer .change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
  }
  #burgerContainer .change .bar2 {
    opacity: 0;
  }
  #burgerContainer .change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
  }
  #burgerContainer #menu {
    visibility: hidden;
    background-color: #212121;
    width: 40vw;
    height: 950px;
    position: relative;
    top: 0px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    z-index: 99;
    position: fixed;
  }
  #burgerContainer #menu a {
    font-size: 2rem;
    position: relative;
    top: 100px;
    background: -webkit-linear-gradient(#F9815B, #FFA571);
    text-decoration: none;
    color: white;
    cursor: pointer;
  }
  #burgerContainer #menu a:hover {
    color: #262626;
  }
  #burgerContainer #menu.show {
    visibility: visible;
  }
  #burgerContainer .flex-container2 {
    display: flex;
    justify-content: flex-end;
    height: 0px;
  }
  .sectionProjet {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    height: 150vh;
    row-gap: 100px;
  }
  .sectionProjet .containerProjet1 {
    width: 30vw;
    min-width: 325px;
    /* Largeur minimale */
    height: 55vh;
    padding-bottom: 50px;
    border-radius: 15px;
    box-shadow: 20px 20px 8px rgba(255, 255, 255, 0.904);
    transform: perspective(1200px) rotateY(-10deg);
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to right, #F9815B, #FFA571);
    border-radius: 10px;
    position: relative;
    /* Ajout pour le positionnement absolu */
  }
  .sectionProjet .containerProjet1 img {
    padding-bottom: 3%;
    border-radius: 10px;
    min-width: 325px;
    /* Largeur minimale */
  }
  .sectionProjet .containerProjet1 h2 {
    text-align: center;
    margin-bottom: 0px;
  }
  .sectionProjet .containerProjet1 h3 {
    text-align: center;
    font-size: 1rem;
    font-style: italic;
    font-weight: 400;
  }
  .sectionProjet .containerProjet1 p {
    font-size: 1.2rem;
    text-align: center;
    padding: 3vh 2%;
  }
  .sectionProjet .containerProjet1 p:nth-of-type(2) {
    font-size: 0.8rem;
  }
  .sectionProjet .containerProjet1:hover::after {
    width: 30vw;
    min-width: 325px;
    /* Largeur minimale */
    height: 55vh;
    display: flex;
    justify-content: center;
    align-items: center;
    content: "HTML-CSS-JAVASCRIPT";
    background-color: rgba(0, 0, 0, 0.9) !important;
    color: white !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
    z-index: 100 !important;
  }
  .sectionProjet .containerProjet2 {
    width: 30vw;
    min-width: 325px;
    /* Largeur minimale */
    height: 55vh;
    background: linear-gradient(to right, #F9815B, #FFA571);
    border-radius: 10px;
    box-shadow: 20px 20px 8px rgba(255, 255, 255, 0.904);
    /* ombre portée */
    transform: perspective(1200px) rotateY(-10deg);
    /* effet de perspective */
    margin-left: 10%;
    margin-right: 10%;
  }
  .sectionProjet .containerProjet2 img {
    width: 30vw;
    padding-bottom: 3%;
    border-radius: 10px;
    min-width: 325px;
    /* Largeur minimale */
  }
  .sectionProjet .containerProjet2 h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 0px;
  }
  .sectionProjet .containerProjet2 h3 {
    text-align: center;
    font-size: 1rem;
    font-style: italic;
    font-weight: 400;
  }
  .sectionProjet .containerProjet2 p {
    font-size: 1.2rem;
    text-align: center;
    padding: 3vh 2%;
  }
  .containerProjet2:hover::after {
    width: 30vw;
    min-width: 325px;
    /* Largeur minimale */
    height: 55vh;
    padding: 0px 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    content: "HTML-CSS-JAVASCRIPT";
    background-color: rgba(0, 0, 0, 0.9) !important;
    color: white !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
    z-index: 100 !important;
  }
}
@media screen and (max-width: 375px) {
  .sectionProjet .containerProjet1 {
    width: 30vw;
    min-width: 285px;
    height: 50vh;
  }
  .sectionProjet .containerProjet1 img {
    padding-bottom: 3%;
    min-width: 285px;
  }
  .sectionProjet .containerProjet1 p {
    padding-top: 5px;
  }
  .sectionProjet .containerProjet1:hover::after {
    width: 30vw;
    min-width: 285px;
  }
  .sectionProjet .containerProjet2 {
    width: 30vw;
    min-width: 285px;
    height: 50vh;
  }
  .sectionProjet .containerProjet2 img {
    width: 30vw;
    min-width: 285px;
  }
  .sectionProjet .containerProjet2 p {
    padding-top: 3vh;
  }
  .sectionProjet .containerProjet2:hover::after {
    width: 30vw;
    min-width: 285px;
    /* Largeur minimale */
  }
}
@media screen and (max-width: 320px) {
  h1 {
    font-size: 3.5rem;
  }
  .sectionProjet .containerProjet1 {
    width: 30vw;
    min-width: 235px;
    height: 45vh;
  }
  .sectionProjet .containerProjet1 img {
    padding-bottom: 3%;
    min-width: 235px;
  }
  .sectionProjet .containerProjet1 p {
    font-size: 1.1rem;
    padding-top: 5px;
  }
  .sectionProjet .containerProjet1:hover::after {
    width: 30vw;
    min-width: 235px;
    height: 45vh;
  }
  .sectionProjet .containerProjet2 {
    width: 30vw;
    min-width: 235px;
  }
  .sectionProjet .containerProjet2 img {
    width: 30vw;
    min-width: 235px;
  }
  .sectionProjet .containerProjet2 p {
    font-size: 1.1rem;
    padding-top: 3vh;
  }
  .sectionProjet .containerProjet2:hover::after {
    width: 30vw;
    min-width: 235px;
  }
}
